doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        style @import url('/style.css');
        title Чат Мичурина, архив
    body
        article#chat
            header #[a#edit(href='/michurin/edit')] #[a#add(href='/michurin/add')]
            table
                caption Архив #[a(href='http://nono.michurin.net/chat') чата Мичурина]
                thead: tr: th Ошибка 500
                tbody: tr: td Сообщение от сервера: «Я упал. Чтобы меня вернуть, исправьте, пожалуйста, синтаксические ошибки в JSON».
        script(src='/script.js')