doctype html
html
    head
        meta(charset='UTF-8')
        meta(name=viewport content='width=device-width, initial-scale=1.0')
        style @import url('/style.css');
        title Чат Мичурина, архив
    body
        section#chat
            header #[a#home(href='/michurin/')] #[a#edit(href='/michurin/edit')]
            article Добавить новое сообщение или несколько сообщений в формате JSON: добавляется к самому верху от всех реплик. Чат в формате JSON, представляет собой массив из объектов с пятью ключами: "d" (date), "t" (time), "c" (color), "n" (nick, сокращение от nickname), "m" (message), — значением которых является строка. (Для новичков: неважно, ставить ли пробелы или переносы строк, они не играют служебной роли и не ломают ничего.)
            footer
                form(action='' method='post')
                    textarea(name='json')
                    | <br> Пароль 
                    input(type='password' name='pass')
                    button(type='submit') Сохранить
        script(src='/script.js')