:root {
    font: 14px/1.25 'Segoe UI', Arial, Tahoma, Geneva, Verdana, sans-serif;
    color-scheme: light dark;
}
a {
    text-decoration: none;
    &#edit::after {content: 'Редактировать';}
    &#add::after {content: 'Новая реплика';}
    &#home::after {content: 'Чат';}
    color: light-dark(#66f, #aaf);
    &:hover {color: light-dark(#39f, #9cf);}
    &:active {color: light-dark(#f6c, #faf);}
}

body {margin: 0;}
#chat {
    width: min(100%, clamp(640px, 320px + 50%, 960px));
    table {
        > tbody {
            display: grid;
            grid-template: "a a a";
            > tr {
                display: contents;
                > th {
                    font-weight: normal;
                    display: block;
                }
                > td {
                    word-break: break-word;
                    display: block;
                }
            }
            
        }
        
    }
}